body {
    margin: 0;
    padding: 0;
    text-align: justify;
    background: #404040;
}

a {
    text-decoration: none;
    color: #002bb8;
    background: none;
}

a:visited {
    color: #5a3696;
}

a:active {
    color: #faa700;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: black;
    background: none;
    margin: 0;
    margin: 0.75em 32px 0px 32px; 
    font-family: sans-serif;
}


h2, h3, h4, h5, h6 {
    color: black;
    background: none;
    margin: 0;
    padding-top: .1em;
    padding-bottom: .27em;
    border-bottom: 1px solid #aaa;
    margin: 1em 32px .75em 32px; 
    font-family: sans-serif;
}

h4.title {
    margin: 1em 32px .75em 0px; 
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3, h4, h5, h6 {
    border-bottom: none;
}

h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

.session {
    color: blue;
    background: none;
    border-bottom: none;
    margin: 0 32px 0 0;
    font-family: sans-serif;
    font-size:100%;
}

.list2, .list2 li {
    font-size: 0.95em;
    line-height: 1.5em;
    margin: 0 32px;
}


table {
    font-family: sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0em 0px;
}

.dates {
    align: left;
    width: 600px;
    margin: 0 auto;  
}

li {
    font-family: sans-serif;
    line-height: 1.5em;
    margin: 0em 32px;
}

p, ul.topic, ul.committee {
    font-family: sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 auto;  
    width: 600px;
}

p.committee, ul.committee {
  width: 600px;
}

p.program {
  width: 770px;
}

table.committee {
    margin: 0 auto;
    width: 600px;
}

.content {
    width: 900px;
    min-width: 650px;
    margin: 20px auto;
    border: 0px solid #000000;
    background-color: #fff;
    color: #222;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    background-color: #000000;
    color: #000000;
    font-family: sans-serif;
    font-size: 150%;
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
}

.navbar ul {
    overflow: hidden;
    margin: 0;
    padding: 0 32px;
    list-style: none;
}


.navbar ul li {
    float: left;
    line-height: normal;
    margin: 0;
}

.navbar ul a {
    display:block;
    padding: 8px 10px 6px 10px;
    vertical-align: middle;
    text-align: justify;
    border-right: 0px solid #000000;
    font-size: 0.75em;
    color: #ffffff;
    font-family: Georgia, sans-serif;
    text-decoration:none;
}

.navbar a:link,
.navbar a:visited {
}

.firstNavElement a {
    border-left: 0px solid #000000;
}

.navbar a:hover {
    /*background-color: #aaa;*/
    display:block;
    /* background-color: #6e91ff; */
    background-color: #404040;
}

.navbar li ul {
    position: absolute;
    width: 150px;
    left: -999em;
    color: #00507d;
    padding: 0px;
    background-color: #a70303;
}

.navbar li ul a {
    width: 128px;
    border-bottom: 0px solid #000000;
    border-left: 0px solid #000000;
    border-right: 0px solid #000000;
}

.navbar ul li:hover ul {
    left: auto;
}

.cfp {
    margin-top: 0.5em;
    font-size: 120%;
}

.tba {
  font-style: italic;
}

