body {
	margin: 0;
	padding: 0;
	text-align: justify;
    background: #404040;
}


#header{
    height: 100px;
    padding: 0 0 0 20px;
    margin: 0;
}

pre {
    display: block;
    border: solid 1px;
    font: 110%/120% monospace;
    border-color: #ccc #eee #eee #ccc;
    background: #f7f7f7;
    margin: 0em 0em 0em 1em;
    padding: 0.5em 1em 0.5em 1em;
    overflow: auto;
    /*-moz-border-radius: 8px;*/
}

a {
    text-decoration: none;
    color: #002bb8;
    background: none;
}

a:visited {
    color: #5a3696;
}

a:active {
    color: #faa700;
}

a:hover {
    text-decoration: underline;
}

h1{
    color: black;
    background: none;
    margin: 0;
    /*padding-top: .5em;*/
    /*padding-bottom: .17em;*/
    /*border-bottom: 1px solid #aaa;*/
    margin: 0.75em 32px 0px 32px; 
    font-family: sans-serif;
}


h2, h3, h4, h5, h6 {
    color: black;
    background: none;
    margin: 0;
    padding-top: .1em;
    padding-bottom: .27em;
    border-bottom: 1px solid #aaa;
    margin: 1em 32px .75em 32px; 
    font-family: sans-serif;
}


session {
    color: blue;
    background: none;
    padding-top: 1em;
/*    padding-bottom: .27em;*/
    border-bottom: none;
    margin: 0 32px 0.75em 0; 
    font-family: sans-serif;
    font-size:100%;
}


h1 { font-size: 200%; }
h2 { font-size: 150%; }

h3, h4, h5, h6 {
    border-bottom: none;
}

h3 { font-size: 132%; }
h4 { font-size: 116%; }
h5 { font-size: 100%; }
h6 { font-size: 80%;  }

p, table, #list ul, #list ol, #list li, #list1 ul, #list1 li, #list2 ul, #list2 li, #list3 ul, #list3 li, table{
    font-family: sans-serif;
    font-size: 0.75em;
    line-height: 1.5em;
    margin: 0em 32px;
}

ul li ol{
    line-height: 1.5em;
    margin: 0em 20px;
}

#content {
    width: 1000px;
    min-width: 650px;
    margin: 20px auto;
    border: 0px solid #000000;
    background-color: #fff;
    color: #222;
    /*-moz-border-radius: 25px;*/
}

#top {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 175%;
    margin: 0;
    padding: .75em;
    color: #000;
}

#navbar {
    width: 100%;
    background-color: #000000;
    color: #000000;
    font-family: sans-serif;
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
}

#navbar ul {
    overflow: hidden;
    margin: 0;
    padding: 0 32px;
    list-style: none;
}


#navbar ul li {
    float: left;
    line-height: normal;
    margin: 0;
}

#navbar ul a {
    display:block;
    padding: 4px 10px 5px 10px;
    vertical-align: middle;
    text-align: justify;
    border-right: 0px solid #000000;
    font-size: 0.75em;
    /*color:#68a;*/
    color: #ffffff;
    font-family: Georgia, sans-serif;
    /*font-weight: bold;*/
    text-decoration:none;
}

#navbar a:link,
#navbar a:visited {
}

#firstNavElement a {
    border-left: 0px solid #000000;
}

#navbar a:hover {
    /*background-color: #aaa;*/
    display:block;
    /* background-color: #6e91ff; */
    background-color: #404040;
}

#navbar li ul{
    position: absolute;
    width: 150px;
    left: -999em;
    color: #00507d;
    padding: 0px;
    background-color: #a70303;
}

#navbar li ul a {
    width: 128px;
    border-bottom: 0px solid #000000;
    border-left: 0px solid #000000;
    border-right: 0px solid #000000;
}

#navbar ul li:hover ul, #navbar ul li.sfhover ul{
    left: auto;
}

#logos{
    float: right;
    padding: 6px 40px;
    text-align: center;
    font-size: .7em;
}

#myPhoto{
    float: right;
    padding: 30px;
    text-align: center;
    font-size: .7em;
}

#myPhoto a{
    color: #fff;
}

#inlinePhoto{
    padding: 30px;
    text-align: center;
    font-size: .7em;
}

#footer {
    margin: auto;
    text-align: center;
    font-size: .85em;
    color: #000000;
    width: 90%;
    background-color: #fff;
}

#footer p {
    font-size: small;
    padding: 0 2em 0 2em;
}

PRE {
    border-left: 1px solid #888888;
    background: #EEEEEE;
    margin: 32px;
    padding: 6px;
    font-size: 9pt;
} 
